@model LogicLayer.CurrentUserModel

@{
    ViewBag.Title = "Index";
} 

<div>
    <h4>User Details</h4>
    <hr />
    <table class="dl-horizontal">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserID)
            </td>

            <td>
                @Html.DisplayFor(model => model.UserID)
            </td> 
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FirstName)
            </td>

            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td> 
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LastName)
            </td>

            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserName)
            </td>

            <td>
                @Html.DisplayFor(model => model.UserName)
            </td> 
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Password)
            </td>

            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserType)
            </td>

            <td>
                @Html.DisplayFor(model => model.UserType)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Sex)
            </td>

            <td>
                @Html.DisplayFor(model => model.Sex)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BirthDate)
            </td>

            <td>
                @Html.DisplayFor(model => model.BirthDate)
            </td>
        </tr> 
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "UserDetails", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
