@model LogicLayer.CurrentRegistrationsModel

@{
    Layout = null;
}


<!DOCTYPE html>
<link href="~/Scripts/NewUser/css/main.css" rel="stylesheet" />
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="page-wrapper font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h4>Check Up Details</h4>
                        <hr />
                        <div class="row row-space">
                            <div>
                                <span class="label">Patient Registration Number</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.RegNum)
                                @Html.DisplayFor(model => model.PatientID, new { htmlAttributes = new { @style = "display:none" } })
                            </div>
                        </div>
                        <div class="row row-space">
                            <div>
                                <span class="label">First Name</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="row row-space">
                            <div>
                                <span class="label">Middle Name</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.MiddleName)
                            </div>
                        </div>
                        <div class="row row-space">
                            <div>
                                <span class="label">Last Name</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="row row-space">
                            <div>
                                <span class="label">Sex</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Sex)
                            </div>
                        </div>
                        <div class="row row-space">
                            <div>
                                <span class="label">Birthday</span>
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.BirthDate)
                            </div>
                        </div>

                        <hr />

                        <div class="row-space">
                            <div class="col-sm-4">
                                <span class="label">Family Record</span>
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.FamilyRecord, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                { 
                                    @Html.EditorFor(model => model.FamilyRecord, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled" } })
                                }

                            </div>
                        </div>
                        <div class="row-space">
                            <div class="col-sm-4">
                                <span class="label">Medicines</span>
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.Medicines, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Medicines, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled" } })
                                }

                            </div>
                        </div>
                        <div class="row-space">
                            <div class="col-sm-4">
                                <span class="label">Allergies</span>
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.Allergies, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Allergies, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled" } })
                                } 
                            </div>
                        </div>
                        <div class="row-space">
                            <div class="col-sm-4">
                                <span>Chief Complaint</span>
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.ChiefComplaint, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.ChiefComplaint, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled" } })
                                }

                            </div>
                        </div>
                        <div class="row-space">
                            <div class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Consultation)
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.Consultation, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Consultation, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled"  } })
                                }

                            </div>
                        </div>
                        <div class="row-space">
                            <div class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Diagnosis)
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled" } })
                                }

                            </div>
                        </div>
                        <div class="row-space">
                            <div class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Treatment)
                                @if (ViewBag.Details == null)
                                {
                                    @Html.EditorFor(model => model.Treatment, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Treatment, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @disabled="disabled" } })
                                }

                            </div>
                        </div>


                        <div class="row row-space" style="text-align: center; display: inherit; ">
                            @if (ViewBag.Message != null)
                            {
                                @Html.Label("Saved!")
                            }
                        </div>
                        <br />
                        <div class="row row-space" style="text-align: center; display: inherit; ">
                            @if (ViewBag.Details == null)
                            {
                                <input type="submit" value="Save" class="btn btn--radius-2 btn--green" style="width:27%" />
                            }
                            @if (ViewBag.Details != null)
                            {
                                @Html.ActionLink("Back to List", "Index", "PatientDetails", new { id = Convert.ToInt32(@Session["PxPatientID"]) }, new { @class = "btn btn--radius-2 btn--blue", @style = "text-decoration:none" })
                            }
                            else
                            {
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn--radius-2 btn--blue", @style = "text-decoration:none" })
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</body>
</html>
