@model IEnumerable<LogicLayer.PatientsModel>

@{
    ViewBag.Title = "Index";
} 
<h5>Registrations as of @DateTime.Now.ToShortDateString() </h5> 
<table class="table" style="text-align:center">
    <tr>
        <th>
            <span>Check-up Number:</span>
        </th>
        <th>
            <span>Check-up Date:</span>
        </th>
        <th>
            <span>First Name</span>
        </th>
        <th>
            <span>Middle Name</span>
        </th>
        <th>
            <span>Last Name</span>
        </th>
        <th>
            <span>Sex</span>
        </th>
        <th>
            <span>Discharge Date</span>
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RegNum)
    </td>
    <td>
        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.RegDate))
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MiddleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td> 
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td> 
    <td>
        @Html.DisplayFor(modelItem => item.DcrDate)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", "CurrentRegistrations", new { id = -1, regnum = item.RegNum }, null)
    </td>
    <td>
        @Html.ActionLink("Discharge", "Discharge", "CurrentRegistrations", new { ID = item.RegNum }, null)
    </td>
</tr>
}

</table>
