@model LogicLayer.NewUserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Scripts/NewUser/css/main.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()
        <div class="page-wrapper font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h4 class="title">Create New User</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row-space">
                            <div>
                                <span class="label">User Name</span>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                <span class="label">Password</span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input--style-4", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row-space">
                            <div>
                                <span class="label">First Name</span>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                <span class="label">Last Name</span>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row-space">
                            <div>
                                <span class="label">Birthday</span>
                                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @type = "date", @style = "padding:0 10px;", @width = "100%" } })
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row-space">
                            <div>
                                <br />
                                <div class="p-t-10" style="vertical-align:central">
                                    <label class="radio-container m-r-45">
                                        @Html.RadioButtonFor(model => model.Sex, "Male") @Html.Label("Male")
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        @Html.RadioButtonFor(model => model.Sex, "Female") @Html.Label("Female")
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <br />
                                @Html.DropDownListFor(m => m.UserType, new List<SelectListItem>
                           {
                               new SelectListItem{Text = "Doctor", Value="Doctor"},
                               new SelectListItem{Text = "Midwife", Value="Midwife"},
                               new SelectListItem{Text = "IT Admin", Value="ITAdmin"}
                           }, "Select Usertype", new { @class = "input--style-4", @style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <div class="row row-space" style="text-align: center; display: inherit; ">
                            <input type="submit" value="Register" class="btn btn--radius-2 btn--green" style="width:27%" />
                            @Html.ActionLink("Login", "Index", "Login", null, new { @class = "btn btn--radius-2 btn--blue", @style = "text-decoration:none" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
