@model IEnumerable<LogicLayer.PatientDetailsModel>

@{
    ViewBag.Title = "Index"; 
}

<h2>Patient Checkup Details</h2>
 
<table class="table" style="border-bottom:none">
    <thead style="background-color:#cccccc">
        <tr>
            <td>
                <span>Patient name</span>
                <br />
                @Session["PxFname"].ToString() @Session["PxMname"].ToString() @Session["PxLname"].ToString()
            </td>
            <td>
                <span>Patient Gender</span>
                @Session["PxSex"].ToString()
            </td>
            <td>
                <span>Birthday</span>
                <br />
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", @Session["PxBirthDate"]))
            </td>
            <td>
                <span>Address</span>
                <br />
                @Session["PxAddress"].ToString()
            </td>
        </tr>
        <tr>
            <td>
                <span>Civil Status</span>
                <br />
                @if (Session["PxCivilStatus"].ToString() != null)
                {@Session["PxCivilStatus"].ToString()}
            </td>
            <td>
                <span>Nationality</span>
                <br />
                @if (Session["PxNationality"].ToString() != null)
                {@Session["PxNationality"].ToString()}
            </td>
            <td>
                <span>Religion</span>
                <br />
                @if (Session["PxReligion"].ToString() != null)
                {@Session["PxReligion"].ToString()}
            </td>
            <td>
                <span>Patient Type</span>
                <br />
                @if (Session["PxCategory"].ToString() != null)
                {@Session["PxCategory"].ToString()}
            </td>
        </tr>
    </thead>

    <tr>
        <th>
            Checkup Number
        </th>
        <th>
            Registration Date
        </th>
        <th>
            Discharge Time
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DcrDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FamilyRecord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicines)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allergies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefComplaint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnosis)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", "CurrentRegistrations", new { id = -2, regnum = item.RegNum }, null)
        </td>
    </tr>
}

</table>
