@model LogicLayer.PatientsModel

@{
    ViewBag.Title = "Register New Patient";
}

<h5>New Patient</h5>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<table style="width:1000px">
    <tr>
        <td>
            <div class="form-group">
                First Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @autocomplete="off" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                Middle Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"  } })
                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                Last Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"  } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="form-group">
                Gender
                <div class="col-md-10">
                    @Html.DropDownList("Sex",new List<SelectListItem>
                   {
                       new SelectListItem{Text="Female", Value="Female"},
                       new SelectListItem{Text="Male", Value="Male" }
                   }, "Select Gender")
                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                Address
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"  } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>

        <td>
            <div class="form-group">
                @*@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                Birth Date
                <div class="col-md-10"> 
                    <input type="date" class="form-control" id="BirthDate" name="BirthDate"/>
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                Civil Status
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CivilStatus, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"  } })
                    @Html.ValidationMessageFor(model => model.CivilStatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                Nationality
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"  } })
                    @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                Religion
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control", @autocomplete="off"  } })
                    @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3"> 
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default"/>
                </div>
            </div> 
        </td>
    </tr>
</table> 
</div>
} 
