@model LogicLayer.PatientsModel

@{
    ViewBag.Title = "Edit";
}

<link href="~/Scripts/NewUser/css/main.css" rel="stylesheet" />
<h2>Edit Patient Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-wrapper font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div class="form-horizontal">
                        <hr />

                        <div class="row-space">
                            @Html.HiddenFor(model => model.PatientID)
                            <span class="label">First Name</span> 
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off", @width="100%" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" }) 
                        </div>

                        <div class="row-space">
                            <div> 
                                <span class="label">Middle Name</span>
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row-space">

                            <span class="label">Last Name</span> 
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" }) 
                        </div>

                        <div class="row-space">
                            <span class="label">Gender</span> 
                                @Html.DropDownList("Sex", new List<SelectListItem>
                               {
                                   new SelectListItem{Text="Female", Value="Female"},
                                   new SelectListItem{Text="Male", Value="Male" }
                               }, "Select Gender", new { @class = "input--style-4", @style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" }) 
                        </div>

                        <div class="row-space">
                            <span class="label">Birthday</span> 
                                @* @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "input--style-4" } })*@
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                @*@Html.EditorFor(model => model.BirthDate, new { type = "date", Value = Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.BirthDate))})*@ 
                                <input type="date" class="input--style-4" id="BirthDate" name="BirthDate" value=@Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.BirthDate)) /> 
                        </div>

                        <div class="row-space">
                            <span class="label">Address</span> 
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" }) 
                        </div>

                        <div class="row-space">
                            <span class="label">Civil Status</span> 
                                @Html.EditorFor(model => model.CivilStatus, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.CivilStatus, "", new { @class = "text-danger" }) 
                        </div>

                        <div class="row-space">
                            <span class="label">Nationality</span> 
                                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" }) 
                        </div>

                        <div class="row-space">
                            <span class="label">Religion</span> 
                                @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" }) 
                        </div>

                        <br /><hr /><br />

                        <div class="row row-space" style="text-align: center; display: inherit; ">
                            <input type="submit" value="Save" class="btn btn--radius-2 btn--green" style="width:27%" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn--radius-2 btn--blue", @style = "text-decoration:none" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Home", "Index")
    </div>
}
