@model LogicLayer.PatientsModel

@{
    ViewBag.Title = "Register New Patient";
}

<link href="~/Scripts/NewUser/css/main.css" rel="stylesheet" /> 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
    if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {

                var confirm = window.confirm("@ViewBag.Message");
                //alert();

                if (confirm) {
                    window.location = "/Patients/Index"
                    var url = '@Html.Raw(Url.Action("Index", "Patients", new {fname = "courtney", lName = "barns", sex = "Male", bday = "10/10/2010 00:00:00"}))';
                    var params = url.replace("fname", "courtney").replace("lname", "barns").replace("sex", "Male").replace("bday", "10/10/2010 00:00:00");

                    window.location.href = url;
                }

            };
        </script>
    }

    <div class="page-wrapper font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h4 class="title">New Patient</h4>
                    <div class="row row-space" style="display: inherit;">
                        <div>
                            <span class="label">First Name</span>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Middle Name</span>
                        <div>
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Last Name</span>
                        <div>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Gender</span>
                        <div>
                            @Html.DropDownList("Sex", new List<SelectListItem>
                            {
                                new SelectListItem{Text="Female", Value="Female"},
                                new SelectListItem{Text="Male", Value="Male" }
                            }, "Select Gender", new { @class = "input--style-4", @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Patient Category</span>
                        <div>
                            @Html.DropDownList("Category", new List<SelectListItem>
                            {
                                new SelectListItem{Text="Adult", Value="Adult"},
                                new SelectListItem{Text="Infant", Value="Infant" },
                                new SelectListItem{Text="Pregnant", Value="Pregnant" },
                                new SelectListItem{Text="Senior Citizen", Value="Senior Citizen" }
                            }, "Select Category", new { @class = "input--style-4", @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Address</span>
                        <div>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Birthday</span>
                        <div>
                            <input type="date" class="form-control" id="BirthDate" name="BirthDate" />
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Civil Status</span>
                        <div>
                            @Html.EditorFor(model => model.CivilStatus, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.CivilStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Nationality</span>
                        <div>
                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row row-space" style="display: inherit;">
                        <span class="label">Religion</span>
                        <div>
                            @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "input--style-4", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <div class="row row-space" style="text-align: center; display: inherit; ">
                        <input type="submit" value="Save New Patient" class="btn btn--radius-2 btn--green" style="width:45%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
